.dashboard-container{

    margin-top:40px;

    margin-bottom:50px;

}

.welcome-card{

    border-radius:22px !important;

    background:linear-gradient(
        135deg,
        #1976d2,
        #42a5f5
    ) !important;

    color:white;

    margin-bottom:35px;

}

.dashboard-card{

    border-radius:20px !important;

    text-align:center;

    padding:20px;

    min-height:300px;

    transition:.35s;

    cursor:pointer;

    box-shadow:0 10px 30px rgba(0,0,0,.08) !important;

}

.dashboard-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 45px rgba(0,0,0,.18) !important;

}

.dashboard-icon{

    font-size:70px !important;

    margin-bottom:15px;

}

.diabetes{

    color:#1976d2;

}

.heart{

    color:#e53935;

}

.history{

    color:#43a047;

}

.logout{

    color:#757575;

}

.dashboard-btn{

    margin-top:25px !important;

    width:100%;

    height:48px;

    border-radius:12px !important;

}