.page-container{

    margin-top:40px;

    margin-bottom:50px;

}

.prediction-card{

    border-radius:20px !important;

    padding:20px;

    box-shadow:0 10px 30px rgba(0,0,0,.08) !important;

}

.prediction-title{

    text-align:center;

    color:#1565c0;

    font-weight:bold;

    margin-bottom:25px !important;

}

.predict-btn{

    margin-top:30px !important;

    height:55px;

    border-radius:12px !important;

    font-size:18px !important;

}

.result-card{

    margin-top:35px;

    border-radius:20px !important;

    box-shadow:0 10px 30px rgba(0,0,0,.08) !important;

}

.result-title{

    color:#1976d2;

    margin-bottom:15px !important;

}

.result-text{

    margin-top:15px !important;

}

.result-risk{

    margin-top:20px !important;

}